@import '../../styles/customMediaQueries.css';

.main {
}

.main > img:not(:last-child) {
  padding: 20px 10px 0 10px;
  @media (--viewportMedium) {
    padding: 80px 10% 0 10%;
  }
}

.main > img:last-child {
  padding-top: 20px;
  @media (--viewportMedium) {
    padding-top: 80px;
  }
}
